<div class="wrapper">
    <div class="years-view" [ngClass]="{showSelector: openSelector}">
        <div class="year-selector">
            < 2022 >
        </div>

        <div class="months">
            <div class="month" *ngFor="let month of months">
                {{month}}
            </div>
        </div>

    </div>

    <app-month-view (openEvents)="toggleEventsView()" (openSelector)="toggleYearMonthSelector()"></app-month-view>

    <app-events (showEventsView)="toggleEventsView()" *ngIf="showEventsView"></app-events>
</div>