<div class="wrapper">
    <div class="years-view" [ngClass]="{showSelector: openSelector}">
        <div class="year-selector">
            <span (click)="previousYear()"><</span> {{selectedYear}} <span (click)="nextYear()">></span>
        </div>

        <div class="months">
            <div class="month" *ngFor="let month of months" (click)="selectMonth(month)">
               {{month}}
            </div>
        </div>

    </div>

    <app-month-view [selectedDate]="selectedDate" [monthDays]="monthDays" (openEvents)="toggleEventsView()" (openSelector)="toggleYearMonthSelector()"></app-month-view>

    <app-events (showEventsView)="toggleEventsView()" *ngIf="showEventsView"></app-events>
</div>