<div class="events-view">
    <a (click)="closeEvents()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg>
    </a>
    <div class="date-view">
        <h2 class="day-name">{{selectedDate.toLocaleDateString("en-US", { weekday: 'long'})}}</h2>
        <p class="date-display">{{selectedDate.toLocaleDateString("en-US", {year: 'numeric', month: 'long', day:
            'numeric' })}}</p>
        <hr>
    </div>
    <div class="events-wrapper">
        <div class="events-header">
            <h4>Events</h4>
            <button class="btn btn-primary" *ngIf="!isAddEvent" (click)="isAddEvent = true">Add Event</button>
        </div>
        <div class="add-event" *ngIf="isAddEvent">
            <div>
                <select [(ngModel)]="type" name="type" id="type">
                    <option [ngValue]="'meeting'">Meeting</option>
                    <option [ngValue]="'todo'">To Do</option>
                    <option [ngValue]="'work'">Work</option>
                    <option [ngValue]="'home'">Home</option>
                </select>
                <input [(ngModel)]="time" type="time" id="appt" name="appt" min="09:00" max="18:00" required>
            </div>
            <div>
                <input [(ngModel)]="name" type="text" placeholder="Title..." />
            </div>

            <p class="buttons">
                <button class="btn btn-secondary" (click)="isAddEvent = false">Cancel</button>
                <button class="btn btn-primary" (click)="addEvent()">Save</button>
            </p>

            <hr>

        </div>
        <div class="events-timeline">
            <div class="vl" *ngIf="checkEvents().length">
            </div>
            <div class="events">
                <div *ngIf="checkEvents()">
                    <div *ngFor="let event of checkEvents(); let i = index" class="events">
                        <div class="event">
                            <div class="event-color" [ngClass]="event.type"></div>
                            <div class="event-details">
                                <div class="event-date">{{event.time}}</div>
                                <div class="event-title">{{event.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!checkEvents().length">No Events at This Day</div>
        </div>
    </div>
</div>