@import './../../../variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


// move the below to month component
    .month-view{
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-evenly;

        .month-name{
            text-transform: uppercase;
            color: $primary_color;
            font-weight: bold;
            letter-spacing: 8px;
        }

        .week-days {
            .day{
                font-weight: bold;
                display: inline-block;
                width: 13.6%;
                color: #666;
            }
            margin-bottom: 2%;
        }

        .days {
            .day{
                display: inline-table;
                width: 13.6%;
                height: 6vh;
                padding: 8px 0px;
                box-sizing: border-box;
                &.today{
                    border: 2px solid $primary_color;
                    box-sizing: border-box;
                    border-radius: 5px;
                    color: $primary_color;
                    font-weight: bolder;
                }
                &:hover {
                    background-color: $light_color;
                    cursor: pointer;
                }
                &.hide{
                    visibility: hidden;
                }
                &.select {
                    background-color: $mid_color;
                    border-radius: 6px;
                }

                .events {
                    min-height: 1.5vh;
                    line-height: 1.5vh;
                    .event {
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        margin: 0px 3px;
                        background-color: #b6b6b6;

                        &.home {
                            background-color: #ffc1c1;
                        }
                        &.work {
                            background-color: #c3f2ea;
                        }
                        &.meeting{
                            background-color: #ffe6a4;
                        }
                        &.todo{
                            background-color: #c3f19d;
                        }
                    }
                }
            }
        }

        .years-link {
            margin: 20px;
            color: $primary_color;
            cursor: pointer;
            line-height: 10vh;
            &:hover {
                color: $mid_color;
            }
            svg{
                transform: translate(0, -10%);
            }
        }
    }

