/* You can add global styles to this file, and also import other style files */
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body{
    background-color: $light_color;
    font-family: 'Open Sans', sans-serif;
    color: $secondary_color;
}

.wrapper {
    background-color: $white-color;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 5%;
    box-shadow: 0px 8px 25px -5px $primary_color;
    display: flex;
    // move the below to years component
    
    .years-view{
        box-shadow: 5px 0px 10px #c5bfd7;
        background-color: $primary_color;
        color: $white-color;

        transition: width 0.5s ease-out,  opacity 1.5s ease-in-out ;
        opacity: 0;
        width: 0;
        overflow: hidden;

        &.showSelector {
            display: inline-block;
            opacity: 1;
            width: 15vw;
        }

        .year-selector{
            text-align: center;
            padding: 15px 5px;
            font-weight: bold;
        }
        .months {
            display: flex;
            flex-direction: column;
            line-height: 2em;
            .month{
                padding: 3px 15px;
                border-top: 0.5px solid #ffffffad;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                &:hover {
                    background-color: $dark_color;
                    cursor: pointer;
                }
            }
        }


    }

    // move the below to month component
    .month-view{
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-evenly;

        .month-name{
            text-transform: uppercase;
            color: $primary_color;
            font-weight: bold;
            letter-spacing: 8px;
        }

        .week-days {
            .day{
                display: inline-block;
                width: 14%;
                height: 30px;
                font-weight: bold;
            }

        }

        .days {
            .day{
                display: inline-block;
                width: 14%;
                height: 45px;
                padding: 8px 0px;
                .today{
                    background-color: $primary_color;
                    color: $white-color;
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    margin: 0 auto;
                    border-radius: 50%;
                    padding: 4px;
                }
                &:hover {
                    background-color: $light_color;
                    cursor: pointer;
                }
                &.hide{
                    visibility: hidden;
                }

                .events {
                    .event {
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: #ffe6a4;
                        margin: 3px;
                        margin-top: 15px;
                        &:nth-child(2){
                            background-color: #ffc1c1;

                        }
                        &:nth-child(3){
                            background-color: #d5b2f6;

                        }
                        &:nth-child(4){
                            background-color: #c3f2ea;

                        }
                    }
                }
            }
        }

        .years-link {
            margin: 20px;
            color: $primary_color;
            cursor: pointer;
            &:hover {
                color: $mid_color;
            }
        }
    }


    .events-view {
        width: 35vw;
        box-shadow: inset 8px 0px 6px #c5bfd729;
        padding: 20px;
        .date-view{
            .day-name {
                margin: 0.5em 0em;
            }
        }

        .events-wrapper {
            .events-header {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                flex-direction: row;
                line-height: 0px;
            }
            .add-event {
                .buttons {
                    display: flex;
                    justify-content: space-between;
                }
            }
            .events-timeline {
                margin-top: 15px;
                display: flex;
                font-size: 0.8em;
                .vl {
                    border-left: 1px solid $tertiary_color;
                    height: 35vh;
                }
                .events{
                    display: flex;
                    flex-direction: column;
                    .event {
                        display: flex;
                        margin: 8px 0px;
                        .event-color {
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: #ffe6a4;
                            margin: 3px;
                            margin-top: 15px;
                            background-color: #ffc1c1;
                            margin-left: -5px;
                            box-shadow: 1px 1px 1px 1px #c5bfd76b;
                        
                        }
                        .event-details {
                            display: flex;
                            flex-direction: column;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }

    a {
        cursor: pointer;
        &:hover {
            color: $tertiary_color;
        }
    }
    .btn {
        border: 0px;
        padding: 7px 15px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        &.btn-primary {
            background-color: $primary_color;
            &:hover {
                background-color: $dark_color;
            }
        }
        &.btn-primary {
            background-color: $primary_color;
            &:hover {
                background-color: $dark_color;
            }
        }
        &.btn-secondary {
            background-color: $tertiary_color;
            color: white;
            &:hover {
                background-color: $secondary_color;
                color: white
            }
        }
    }


   
}
